<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="eer_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="eer_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="EER.diagram.part.Eer2sqlDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/EERDiagramFile.gif"
         extensions="eer_diagram"
         default="true"
         class="EER.diagram.part.Eer2sqlDiagramEditor"
         matchingStrategy="EER.diagram.part.Eer2sqlMatchingStrategy"
         contributorClass="EER.diagram.part.Eer2sqlDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="EER.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/EERDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="EER.diagram.part.Eer2sqlCreationWizard"
  	     id="EER.diagram.part.Eer2sqlCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="es.unican.moses.sle.db.eer2sql.diagram.InitDiagram"
            nameFilter="*.eer"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="EER.diagram.part.Eer2sqlInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="es.unican.moses.sle.db.eer2sql.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="Eer2sqlPresentation">
         <Priority name="Lowest"/>
         <ViewId id="EER.diagram.part.Eer2sqlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="Eer2sqlPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="EER.diagram.part.Eer2sqlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="Eer2sqlRender">
         <Priority name="Lowest"/>
         <ViewId id="EER.diagram.part.Eer2sqlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="EER.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="es.unican.moses.sle.db.eer2sql.diagram.general"
            name="%prefpage.es.unican.moses.sle.db.eer2sql.diagram.general"
            class="EER.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="es.unican.moses.sle.db.eer2sql.diagram.appearance"
            name="%prefpage.es.unican.moses.sle.db.eer2sql.diagram.appearance"
            category="es.unican.moses.sle.db.eer2sql.diagram.general"
            class="EER.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="es.unican.moses.sle.db.eer2sql.diagram.connections"
            name="%prefpage.es.unican.moses.sle.db.eer2sql.diagram.connections"
            category="es.unican.moses.sle.db.eer2sql.diagram.general"
            class="EER.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="es.unican.moses.sle.db.eer2sql.diagram.printing"
            name="%prefpage.es.unican.moses.sle.db.eer2sql.diagram.printing"
            category="es.unican.moses.sle.db.eer2sql.diagram.general"
            class="EER.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="es.unican.moses.sle.db.eer2sql.diagram.rulersAndGrid"
            name="%prefpage.es.unican.moses.sle.db.eer2sql.diagram.rulersAndGrid"
            category="es.unican.moses.sle.db.eer2sql.diagram.general"
            class="EER.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="es.unican.moses.sle.db.eer2sql.diagram"
            labelProvider="EER.diagram.sheet.Eer2sqlSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="es.unican.moses.sle.db.eer2sql.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="es.unican.moses.sle.db.eer2sql.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="EER.diagram.sheet.Eer2sqlPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="EER.diagram.navigator.Eer2sqlAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="EER.diagram.providers.Eer2sqlViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Eer2sql"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,2004,2005,2006,2007,2008"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,4011,4012,4013,4014,4015"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="EER.diagram.providers.Eer2sqlEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Eer2sql"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,2004,2005,2006,2007,2008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,4011,4012,4013,4014,4015"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5003,5004,5005,5006,5007,5008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="EER.diagram.providers.Eer2sqlModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="EER.diagram.edit.parts.ProjectEditPart" id="Project_1000"/>
         <object class="EER.diagram.edit.parts.WeakEntityEditPart" id="WeakEntity_2001"/>
         <object class="EER.diagram.edit.parts.EnumerationTypeEditPart" id="EnumerationType_2002"/>
         <object class="EER.diagram.edit.parts.GeneralizationEditPart" id="Generalization_2003"/>
         <object class="EER.diagram.edit.parts.MemberCollectionEditPart" id="MemberCollection_2004"/>
         <object class="EER.diagram.edit.parts.PrimitiveTypeEditPart" id="PrimitiveType_2005"/>
         <object class="EER.diagram.edit.parts.CompositeComponentEditPart" id="CompositeComponent_2006"/>
         <object class="EER.diagram.edit.parts.DependencyRelationshipEditPart" id="DependencyRelationship_2007"/>
         <object class="EER.diagram.edit.parts.RelationshipEditPart" id="Relationship_2008"/>
         <context elements="Project_1000,WeakEntity_2001,EnumerationType_2002,Generalization_2003,MemberCollection_2004,PrimitiveType_2005,CompositeComponent_2006,DependencyRelationship_2007,Relationship_2008"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="EER.diagram.providers.Eer2sqlIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="EER.diagram.providers.Eer2sqlParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.Project_1000"
               name="%metatype.name.Project_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Project"
               edithelper="EER.diagram.edit.helpers.ProjectEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.WeakEntity_2001"
               name="%metatype.name.WeakEntity_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="WeakEntity"
               edithelper="EER.diagram.edit.helpers.WeakEntityEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.EnumerationType_2002"
               name="%metatype.name.EnumerationType_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EnumerationType"
               edithelper="EER.diagram.edit.helpers.EnumerationTypeEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.Generalization_2003"
               name="%metatype.name.Generalization_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Generalization"
               edithelper="EER.diagram.edit.helpers.GeneralizationEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.MemberCollection_2004"
               name="%metatype.name.MemberCollection_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MemberCollection"
               edithelper="EER.diagram.edit.helpers.MemberCollectionEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.PrimitiveType_2005"
               name="%metatype.name.PrimitiveType_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PrimitiveType"
               edithelper="EER.diagram.edit.helpers.PrimitiveTypeEditHelper">
            <param name="semanticHint" value="2005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.CompositeComponent_2006"
               name="%metatype.name.CompositeComponent_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CompositeComponent"
               edithelper="EER.diagram.edit.helpers.CompositeComponentEditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.DependencyRelationship_2007"
               name="%metatype.name.DependencyRelationship_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DependencyRelationship"
               edithelper="EER.diagram.edit.helpers.DependencyRelationshipEditHelper">
            <param name="semanticHint" value="2007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.Relationship_2008"
               name="%metatype.name.Relationship_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Relationship"
               edithelper="EER.diagram.edit.helpers.RelationshipEditHelper">
            <param name="semanticHint" value="2008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.GeneralizationRelationship_4001"
               name="%metatype.name.GeneralizationRelationship_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="GeneralizationRelationship"
               edithelper="EER.diagram.edit.helpers.GeneralizationRelationshipEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.Exclusion_4002"
               name="%metatype.name.Exclusion_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Exclusion"
               edithelper="EER.diagram.edit.helpers.ExclusionEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.CandidateKey_4003"
               name="%metatype.name.CandidateKey_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CandidateKey"
               edithelper="EER.diagram.edit.helpers.CandidateKeyEditHelper">
            <param name="semanticHint" value="4003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.SingleAttribute_4004"
               name="%metatype.name.SingleAttribute_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SingleAttribute"
               edithelper="EER.diagram.edit.helpers.SingleAttributeEditHelper">
            <param name="semanticHint" value="4004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.SpecializationRelationship_4005"
               name="%metatype.name.SpecializationRelationship_4005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SpecializationRelationship"
               edithelper="EER.diagram.edit.helpers.SpecializationRelationshipEditHelper">
            <param name="semanticHint" value="4005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <specializationType
               id="es.unican.moses.sle.db.eer2sql.diagram.DependencyRelationship_4006"
               name="%metatype.name.DependencyRelationship_4006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="es.unican.moses.sle.db.eer2sql.diagram.DependencyRelationship_2007"/>
            <param name="semanticHint" value="4006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.CompositeAttribute_4007"
               name="%metatype.name.CompositeAttribute_4007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CompositeAttribute"
               edithelper="EER.diagram.edit.helpers.CompositeAttributeEditHelper">
            <param name="semanticHint" value="4007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.Participant_4008"
               name="%metatype.name.Participant_4008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Participant"
               edithelper="EER.diagram.edit.helpers.ParticipantEditHelper">
            <param name="semanticHint" value="4008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.AggregationParticipant_4009"
               name="%metatype.name.AggregationParticipant_4009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AggregationParticipant"
               edithelper="EER.diagram.edit.helpers.AggregationParticipantEditHelper">
            <param name="semanticHint" value="4009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.EnumeratedLiteral_4010"
               name="%metatype.name.EnumeratedLiteral_4010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EnumeratedLiteral"
               edithelper="EER.diagram.edit.helpers.EnumeratedLiteralEditHelper">
            <param name="semanticHint" value="4010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <metamodelType
               id="es.unican.moses.sle.db.eer2sql.diagram.Inclusion_4011"
               name="%metatype.name.Inclusion_4011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Inclusion"
               edithelper="EER.diagram.edit.helpers.InclusionEditHelper">
            <param name="semanticHint" value="4011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <specializationType
               id="es.unican.moses.sle.db.eer2sql.diagram.GeneralizationParent_4012"
               name="%metatype.name.GeneralizationParent_4012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4012"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <specializationType
               id="es.unican.moses.sle.db.eer2sql.diagram.AggregationSource_4013"
               name="%metatype.name.AggregationSource_4013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4013"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <specializationType
               id="es.unican.moses.sle.db.eer2sql.diagram.EntityPrimaryKey_4014"
               name="%metatype.name.EntityPrimaryKey_4014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4014"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://EER/1.0">
         <specializationType
               id="es.unican.moses.sle.db.eer2sql.diagram.GeneralizationChilds_4015"
               name="%metatype.name.GeneralizationChilds_4015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4015"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="es.unican.moses.sle.db.eer2sql.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="es.unican.moses.sle.db.eer2sql.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="es.unican.moses.sle.db.eer2sql.diagram.TypeContext">
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.Project_1000"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.WeakEntity_2001"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.EnumerationType_2002"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.Generalization_2003"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.MemberCollection_2004"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.PrimitiveType_2005"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.CompositeComponent_2006"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.DependencyRelationship_2007"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.Relationship_2008"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.GeneralizationRelationship_4001"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.Exclusion_4002"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.CandidateKey_4003"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.SingleAttribute_4004"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.SpecializationRelationship_4005"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.DependencyRelationship_4006"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.CompositeAttribute_4007"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.Participant_4008"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.AggregationParticipant_4009"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.EnumeratedLiteral_4010"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.Inclusion_4011"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.GeneralizationParent_4012"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.AggregationSource_4013"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.EntityPrimaryKey_4014"/>
         <elementType ref="es.unican.moses.sle.db.eer2sql.diagram.GeneralizationChilds_4015"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="es.unican.moses.sle.db.eer2sql.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="es.unican.moses.sle.db.eer2sql.diagram"
           properties="isURIEditorInput"
           class="EER.diagram.part.Eer2sqlUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="es.unican.moses.sle.db.eer2sql.diagram.resourceContent"/>
			<contentExtension pattern="es.unican.moses.sle.db.eer2sql.diagram.domainResourceContent"/>
            <contentExtension pattern="es.unican.moses.sle.db.eer2sql.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="es.unican.moses.sle.db.eer2sql.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="es.unican.moses.sle.db.eer2sql.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="EER.diagram.navigator.Eer2sqlNavigatorContentProvider" 
            labelProvider="EER.diagram.navigator.Eer2sqlNavigatorLabelProvider"
            icon="icons/obj16/EERDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="eer_diagram"/>
               </and>
               <instanceof value="EER.diagram.navigator.Eer2sqlAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="EER.diagram.navigator.Eer2sqlAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="es.unican.moses.sle.db.eer2sql.diagram.navigatorSorter" 
               class="EER.diagram.navigator.Eer2sqlNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="eer_diagram"/>
                  </and>
                  <instanceof value="EER.diagram.navigator.Eer2sqlAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="es.unican.moses.sle.db.eer2sql.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="EER.diagram.navigator.Eer2sqlDomainNavigatorContentProvider" 
            labelProvider="EER.diagram.navigator.Eer2sqlDomainNavigatorLabelProvider"
            icon="icons/obj16/EERDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="eer"/>
               </and>
               <instanceof value="EER.diagram.navigator.Eer2sqlDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="EER.diagram.navigator.Eer2sqlDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="es.unican.moses.sle.db.eer2sql.diagram.navigatorActionProvider"
            class="EER.diagram.navigator.Eer2sqlNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="EER.diagram.navigator.Eer2sqlAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="es.unican.moses.sle.db.eer2sql.diagram.navigatorLinkHelper"
            class="EER.diagram.navigator.Eer2sqlNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="es.unican.moses.sle.db.eer2sql.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="EER.diagram.navigator.Eer2sqlAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="EER.diagram.part.Eer2sqlDiagramUpdateCommand"
         description="%update.diagram.description"
         id="EER.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="EER.diagram.updateDiagram"
         contextId="EER.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="es.unican.moses.sle.db.eer2sql.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="EER.diagram.part.Eer2sqlDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="EER.diagram.edit.parts.ProjectEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="EER.diagram.part.Eer2sqlDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="es.unican.moses.sle.db.eer2sql.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="EER.diagram.part.Eer2sqlDiagramEditorID"
         defaultHandler="EER.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
