<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="es.unican.moses.sle.db.eer2sql.diagram.custom.RelationshipEditPolicyProvider">
         <Priority
               name="Medium">
         </Priority>
         <context
               editparts="EER.diagram.edit.parts.RelationshipEditPart">
         </context>
         <object
               class="EER.diagram.edit.parts.RelationshipEditPart"
               id="EER.diagram.edit.parts.RelationshipEditPart">
         </object>
      </editpolicyProvider>
      <editpolicyProvider
            class="es.unican.moses.sle.db.eer2sql.diagram.custom.DependencyRelationshipEditPolicyProvider">
         <Priority
               name="Medium">
         </Priority>
         <context
               editparts="EER.diagram.edit.parts.RelationshipEditPart">
         </context>
         <object
               class="EER.diagram.edit.parts.DependencyRelationshipEditPart"
               id="EER.diagram.edit.parts.DependencyRelationshipEditPart">
         </object>
      </editpolicyProvider>
   </extension>

</plugin>
