<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="es.unican.moses.sle.db.eer2sql.diagram.custom.RelationshipEditPolicyProvider">
         <Priority
               name="Medium">
         </Priority>
         <context
               editparts="EER.diagram.edit.parts.RelationshipEditPart">
         </context>
         <object
               class="EER.diagram.edit.parts.RelationshipEditPart"
               id="EER.diagram.edit.parts.RelationshipEditPart">
         </object>
      </editpolicyProvider>
      <editpolicyProvider
            class="es.unican.moses.sle.db.eer2sql.diagram.custom.DependencyRelationshipEditPolicyProvider">
         <Priority
               name="Medium">
         </Priority>
         <context
               editparts="EER.diagram.edit.parts.RelationshipEditPart">
         </context>
         <object
               class="EER.diagram.edit.parts.DependencyRelationshipEditPart"
               id="EER.diagram.edit.parts.DependencyRelationshipEditPart">
         </object>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="es.unican.moses.sle.db.eer2sql.diagram.custom.contribution1"
            nameFilter="*.eer"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="es.unican.moses.sle.db.eer2sql.diagram.custom.menu1"
               label="EER Code Generation"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="es.unican.moses.sle.db.eer2sql.diagram.custom.popup.actions.doCodeGeneration"
               enablesFor="1"
               id="es.unican.moses.sle.db.eer2sql.diagram.custom.newAction"
               label="EER Code Generation"
               menubarPath="es.unican.moses.sle.db.eer2sql.diagram.custom.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
